.u-section-1 .u-sheet-1 {
  min-height: 306px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 149px 501px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 401px;
    margin-right: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 291px;
    margin-right: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 201px;
    margin-right: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 101px;
    margin-right: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 639px;
}

.u-section-2 .u-gallery-1 {
  margin-top: 80px;
  margin-bottom: 0;
  height: 559px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  height: 559px;
  margin-right: 0;
  margin-left: 0;
  width: 1140px;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 1.92%;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}.u-section-3 .u-sheet-1 {
  min-height: 533px;
}

.u-section-3 .u-image-1 {
  width: 358px;
  height: 358px;
  margin: 87px auto 0 179px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -217px 115px 60px 589px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 365px;
    margin-left: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 280px;
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 210px;
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -199px;
    margin-right: 132px;
    margin-left: 0;
  }
}